---
layout: default
---

<div class="home">
	<ul class="post-list">
		{% for post in paginator.posts %}

			{% for author in site.authors %}
				{% if author[0] == post.author %}
					{% assign github_account = author[1].github %}
				{% endif %}
			{% endfor %}

			<li class="post">
				<a href="{{ post.url | prepend: site.baseurl }}">
						<h2 class="post-title">{{ post.title }}</h2>
				</a>
	        	<span class="post-meta">
		        	Authored by  
		        	{% if post.author %}
		        		{% if github_account %}
		        			<a href="http://github.com/{{github_account}}" target="_blank">{{ post.author }}</a>
	        			{% else %}
	        				{{ post.author }}
	        			{% endif %}
		        	{% endif %}

		        	{% if post.meta %} • {{ post.meta }}{% endif %}<br/>
		        	on {{ post.date | date: "%b %-d, %Y" }}
		        </span>
				<section class="post-content">
					{{ post.content }}
				</section>

				{% if post.categories %}
					<span class="post-meta categories">Categories: {{ post.categories }}</span>
				{% endif %}
	    	</li>
	   	{% endfor %}
  </ul>

  <div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous">
			<< Previous
		</a>
	{% endif %}

	<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Next >>
	</a>
	{% endif %}
	</div>
</div>
